<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" style="text/css" href="{{url_for('static',filename='base.css')}}"/>
<body>
    <nav>
        <li><a href="{{ url_for('auth.register') }}">Registrate!</a></li>
        <li><a href="{{ url_for('auth.login') }}">Iniciar sesion.</a></li>
        <h1>ADMIN MENU</h1>
        <h2>Acceso autorizado para...</h2>
        <ul>
            <li><a class="action" href="{{url_for('todo.masterIndex')}}">TODOs globales</a></li>
            <li><a class="action" href="{{url_for('todo.masterUser')}}">Usuarios</a></li>
        </ul>
    </nav>
    <section class='content'>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="message">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>