{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} REGISTRO - TODO {% endblock %}</h1>
{% endblock %}

{% block content%}
    <form method="post" class="reg">
        <div class="regLabel">
            <label for="username" >Username</label><br>
            <label for="email" >Email</label><br>
            <label for="password" >Password</label><br>
        </div>

        <div class="regInput">
            <input autocomplete="off" name="username" id="username" required/><br>
            <input autocomplete="off" name="email" id="email" required/><br>
            <input autocomplete="off" type="password" name="password" id="password" required/><br>
        </div>   
        
        <br><br><br><br><input class="logButton" type="submit" value="Regstrarse"/>
        
    </form>
{% endblock %}